@font-face {
  font-family: "Roboto";
  src: url(./Fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Allura";
  src: url(./Fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./Fonts/Poppins-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  list-style-type: none;
  width: 75%;
  max-width: 1200px;
  margin-top: 25px;
  color: white;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "Allura", Arial, Helvetica, sans-serif;
}

header {
  background-image: url(./images/bg-slider-06.jpg);
  min-height: 800px;
}

.textbg {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
}

.textbg h2 {
  font-size: 3.5rem;
  color: rgb(211, 179, 93);
  font-weight: 300;
}

.textbg h3 {
  color: white;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.textbg p {
  font-size: 1rem;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 50px;
}

.discover {
  display: grid;
  grid-template-columns: 50% 50%;
}

.discover h5 {
  text-transform: uppercase;
  font-weight: 800;
  color: grey;
}

.discoleft {
  text-align: center;
  display: grid;
  justify-items: center;
  padding: 20px;
  border: rgb(211, 179, 93) dotted 2px;
  margin: 20px;
}

.discoleft h2 {
  color: rgb(211, 179, 93);
  font-size: 2rem;
}

.discoleft h3 {
  text-transform: uppercase;
  font-weight: 700;
}

.discoright {
  background-image: url(./images/store-01.jpg);
  height: 500px;
  display: flex;
}

#avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.menu {
  height: 1000px;
  background: rgb(48, 48, 48);
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  text-align: center;
  position: relative;
}

.entetemenu {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
}

.menu h2 {
  color: rgb(211, 179, 93);
  font-size: 2.5rem;
  font-weight: 100;
}

.menu ul {
  display: flex;
  list-style-type: none;
  align-content: center;
  justify-content: space-around;
  /* width: 70%; */
  color: white;
  font-weight: 600;
}

.entetemenu img {
  padding: 30px;
  position: relative;
}

.menuboard {
  background: rgb(48, 48, 48);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "m1 m2"
    "m3 m4"
    "m5 m6"
    "m7 m8";
  padding: 30px;
  margin: 0 auto;
  width: 80%;
  background: rgb(255, 255, 255);
  border-top: orangered solid 2px;
  position: relative;
}

.meal {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 88%;
  border-bottom: rgba(63, 63, 63, 0.267) dotted 2px;

  margin: 0 10px;
}

.meal img {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}

.entetemenu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 550px;
  background: url(./images/bg-menu-01.jpg) center/cover;
  left: 50%;
  transform: translateX(-50%);
  top: 350px;
}

/* *************************************************** */

.booking h2 {
  color: rgb(211, 179, 93);
  font-weight: 100;
  font-size: 2.5rem;
}

.booking {
  background: rgb(48, 48, 48);
  height: 700px;
  /* display: grid; */
}

.booking-container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  width: 80%;
  height: 600px;
  /* border: white solid 2px; */
  padding: 30px;
  text-align: center;
  background: black;
}

.bookleft {
  background: black;
  color: white;
  /* height: 400px; */
  padding: 40px;

  border: rgba(255, 235, 205, 0.431) dotted 1px;
}

.bookleft h6 {
  color: rgb(211, 179, 93);
  font-size: 1.6rem;
}

.bookleft h2 {
  font-size: 3.7rem;
}

.bookleft h5 {
  font-size: 2rem;
  margin-top: -20px;
}

.bookright {
  background: white;
  color: black;
  /* height: 400px; */
  padding: 50px;
  border: rgba(255, 235, 205, 0.431) dotted 1px;
}

.bookright p {
  font-size: 1.8rem;
  font-weight: 900;
}

.mainright li {
  width: 190px;
}

.bookright ul {
  list-style-type: none;
}

.mainright ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  height: 230px;
  align-items: center;
}

.mainright ul button {
  background: black;
  color: white;
  height: 60px;
  width: 190px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  margin-top: 30px;
  letter-spacing: 4px;
  font-weight: 600;
  text-transform: uppercase;
}

input {
  border: none;
  border-bottom: grey solid 1px;
  width: 220px;
}

/* **************************************** */

.gridevent {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a1 a2"
    "a3 a2";
  gap: 30px;
  height: 500px;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.event1 {
  display: grid;
  grid-template-columns: 30% 70%;
  border: black solid 1px;
}

.eventimg1 {
  background: url(./images/event-01.jpg) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.date1 {
  background: grey;
  padding: 16px;
  align-content: center;
  display: grid;
  text-align: center;
  width: 80px;
  justify-content: center;
}

.event2 {
  grid-area: a2;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  background: url(./images/event-03.jpg) center/cover;
}

.eventimg2 {
  background: white;
  height: 80%;
  margin: 27px;
}

.date2 {
  background: grey;
  padding: 16px;
  align-content: center;
  display: grid;
  text-align: center;
  width: 80px;
  justify-content: center;
  margin: 0 auto;
}

.locaevent2 {
  height: 200px;
  justify-content: center;
  align-items: center;
  background: chartreuse;
}

.event3 {
  display: grid;
  align-content: center;
  grid-area: a3;
  grid-template-columns: 30% 70%;
  border: black solid 1px;
}

/* ****************************************** */

.events {
  background: rgb(48, 48, 48);
  padding: 1rem;
}
.events-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.events h2 {
  font-family: Allura, sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
}
.events h4 {
  letter-spacing: 2px;
  font-size: 2rem;
  font-family: Poppins, sans-serif;
  font-weight: 900;
  color: #eee;
  margin-top: -0.8rem;
}
.events h3 {
  letter-spacing: 2px;
  font-size: 1.3rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  padding: 0 0.5rem;
}
.events img {
  margin: 2.5rem 0 2rem;
  height: 28px;
}
.events h5 {
  letter-spacing: 2px;
  margin: 2rem 0;
}
.event-content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c b";
}
.address {
  background: #fff;
}
.event-1 {
  grid-area: a;
  margin-bottom: 0.6rem;
}
.event-2 {
  grid-area: c;
  margin-top: 0.6rem;
}
.event-1 .date {
  background: url(./images/event-01.jpg) center/cover;
}
.event-2 .date {
  background: url(./images/event-02.jpg) center/cover;
}
.event-left {
  display: grid;
  grid-template-columns: 39% 61%;
  text-align: left;
  margin-right: 1.2rem;
}
.event-left .date,
.event-3 .date {
  display: grid;
  height: 100%;
  align-items: center;
}
.event-left .date-content,
.event-3 .date {
  background: #333;
  padding: 1.2rem;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  color: #eee;
  text-align: center;
}
.event-left .address {
  color: #222;
  padding: 2rem 1.3rem;
}
.event-left h6,
.event-3 h6 {
  font-size: 1.7rem;
}
.event-left p,
.event-3 p {
  font-size: 0.9rem;
  color: gray;
  margin-top: 6px;
  letter-spacing: 1px;
}
.event-left .address i {
  font-size: 0.6rem;
  transform: translateY(-1px);
}
.event-left .address i:nth-child(2) {
  margin-left: 10px;
}
.event-3 {
  grid-area: b;
  background: url(./images/event-03.jpg) center/cover;
  padding: 1.6rem;
}
.event-3 .address {
  height: 100%;
}
.event-3 .address h3 {
  margin: 3rem 0 1rem;
}
.event-3 h5 {
  margin-top: 4rem;
}

/* ************************************** */

.quote {
  background: rgb(48, 48, 48);
  padding: 8rem 0 350px;
  position: relative;
}
.quote:after {
  content: "";
  height: 400px;
  width: 100%;
  position: absolute;
  background: url(./images/gmap.jpg) center/cover;
  z-index: 2;
  left: 0;
  bottom: 0;
}
.quote-container {
  background: rgb(247, 247, 247);
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 5rem 4rem;
  width: 90%;
  position: relative;
  box-shadow: 0 0 3px #333;
  z-index: 3;
  text-align: center;
}
.quote-container:before {
  content: "";
  position: absolute;
  background: url(./images/avatar-02.jpg) center/cover;
  height: 80px;
  width: 80px;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.quote-container .text-container {
  line-height: 30px;
}
.quote-container .text-container:before {
  content: "\275D";
}
.quote-container .text-container:after {
  content: "\275E";
}
.quote-container .text-container:before,
.quote-container .text-container:after {
  font-size: 1.5rem;
}
.quote-container h2 {
  margin: 2rem 0 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
}
.quote-container p {
  color: rgb(166, 114, 69);
}

/* *********************************** */

footer {
  background: url(./images/bg-footer.jpg) center/cover;
  text-align: left;
  padding: 4rem 2rem;
  color: #eee;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-content h2 {
  font-family: Allura, sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
  margin-bottom: 1rem;
}
.footer-content .left-part {
  padding-right: 2rem;
  line-height: 30px;
}
.footer-content .left-part p {
  font-size: 0.9rem;
  color: rgb(129, 129, 129);
}
.footer-content .right-part {
  padding-left: 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.footer-content .right-part h3 {
  font-size: 0.85rem;
}
.footer-content .newsletter input {
  margin-top: 1rem;
  background: none;
  border: 1px solid rgba(166, 114, 69, 0.151);
  padding: 7px 13px;
  width: 250px;
}
.footer-content .follow-us {
  display: flex;
  margin-top: 3rem;
}
.footer-content .follow-us ul {
  display: flex;
  width: 200px;
  justify-content: space-around;
  color: #595956;
  font-size: 0.8rem;
}
